In [1]:
import pandas as pd
import numpy as np

In [20]:
import random

In [173]:
df = pd.DataFrame(

    columns =      [
     "ID",
     'hist202003',
     'hist202002',
     'hist202001',
     'hist201912',
     'hist201911',
     'hist201910',
     'hist201909',
     'hist201908',
     'hist201907',
     'hist201906',
     'hist201905',
     'hist201904',
     'hist201903',
     'hist201902',
     'hist201901',
     'hist201812',
     'hist201811',
     'hist201810',
     'hist201809',
     'hist201808',
     'hist201807',
     'hist201806',
     'hist201805',
     'hist201804']

)
df

Empty DataFrame
Columns: [ID, hist202003, hist202002, hist202001, hist201912, hist201911, hist201910, hist201909, hist201908, hist201907, hist201906, hist201905, hist201904, hist201903, hist201902, hist201901, hist201812, hist201811, hist201810, hist201809, hist201808, hist201807, hist201806, hist201805, hist201804]
Index: []

[0 rows x 25 columns]

In [174]:
for i in range(0,10):
    b = []
    b.append( i )
    for k in range(0,24):
        b.append( random.randint(0,1) )
    df_tmp = pd.DataFrame(b, index=df.columns)
    df_tmp = df_tmp.T
    
    df = df.append(df_tmp)
df

,ID,hist202003,hist202002,hist202001,hist201912,hist201911,hist201910,hist201909,hist201908,hist201907,...,hist201901,hist201812,hist201811,hist201810,hist201809,hist201808,hist201807,hist201806,hist201805,hist201804
0,0,0,0,1,0,1,0,0,0,0,...,0,1,1,1,1,0,0,1,0,1
0,1,0,1,1,0,0,0,1,1,1,...,1,1,0,0,1,0,1,1,0,0
0,2,0,1,1,1,1,0,0,0,1,...,1,0,1,0,0,0,1,0,0,1
0,3,1,1,0,1,1,0,1,0,0,...,1,0,1,1,1,1,1,0,0,0
0,4,0,1,1,0,0,1,1,1,0,...,1,0,0,0,0,0,0,0,0,1
0,5,0,1,1,1,0,0,1,0,0,...,1,0,1,0,0,1,0,1,0,1
0,6,0,0,0,0,0,0,1,1,1,...,0,1,1,0,1,1,1,0,0,1
0,7,1,1,0,1,0,0,1,1,1,...,1,0,0,1,0,1,1,0,0,1
0,8,1,0,0,0,1,0,0,1,1,...,0,1,0,0,1,0,0,0,0,0
0,9,1,0,0,0,1,0,1,0,1,...,1,1,1,0,1,1,0,1,1,0

In [175]:
df = df.reset_index(drop=True)
df

,ID,hist202003,hist202002,hist202001,hist201912,hist201911,hist201910,hist201909,hist201908,hist201907,...,hist201901,hist201812,hist201811,hist201810,hist201809,hist201808,hist201807,hist201806,hist201805,hist201804
0,0,0,0,1,0,1,0,0,0,0,...,0,1,1,1,1,0,0,1,0,1
1,1,0,1,1,0,0,0,1,1,1,...,1,1,0,0,1,0,1,1,0,0
2,2,0,1,1,1,1,0,0,0,1,...,1,0,1,0,0,0,1,0,0,1
3,3,1,1,0,1,1,0,1,0,0,...,1,0,1,1,1,1,1,0,0,0
4,4,0,1,1,0,0,1,1,1,0,...,1,0,0,0,0,0,0,0,0,1
5,5,0,1,1,1,0,0,1,0,0,...,1,0,1,0,0,1,0,1,0,1
6,6,0,0,0,0,0,0,1,1,1,...,0,1,1,0,1,1,1,0,0,1
7,7,1,1,0,1,0,0,1,1,1,...,1,0,0,1,0,1,1,0,0,1
8,8,1,0,0,0,1,0,0,1,1,...,0,1,0,0,1,0,0,0,0,0
9,9,1,0,0,0,1,0,1,0,1,...,1,1,1,0,1,1,0,1,1,0

In [176]:
df["APPDATE"] = np.nan
df.loc[0, "APPDATE"] = "20190611"
df.loc[1, "APPDATE"] = "20190711"
df.loc[2, "APPDATE"] = "20190811"
df.loc[3, "APPDATE"] = "20190911"
df.loc[4, "APPDATE"] = "20191011"
df.loc[5, "APPDATE"] = "20191111"
df.loc[6, "APPDATE"] = "20191211"
df.loc[7, "APPDATE"] = "20200111"
df.loc[8, "APPDATE"] = "20200211"
df.loc[9, "APPDATE"] = "20200311"
df["APPDATE"] = pd.to_datetime( df["APPDATE"]  )
df

,ID,hist202003,hist202002,hist202001,hist201912,hist201911,hist201910,hist201909,hist201908,hist201907,...,hist201812,hist201811,hist201810,hist201809,hist201808,hist201807,hist201806,hist201805,hist201804,APPDATE
0,0,0,0,1,0,1,0,0,0,0,...,1,1,1,1,0,0,1,0,1,2019-06-11
1,1,0,1,1,0,0,0,1,1,1,...,1,0,0,1,0,1,1,0,0,2019-07-11
2,2,0,1,1,1,1,0,0,0,1,...,0,1,0,0,0,1,0,0,1,2019-08-11
3,3,1,1,0,1,1,0,1,0,0,...,0,1,1,1,1,1,0,0,0,2019-09-11
4,4,0,1,1,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,1,2019-10-11
5,5,0,1,1,1,0,0,1,0,0,...,0,1,0,0,1,0,1,0,1,2019-11-11
6,6,0,0,0,0,0,0,1,1,1,...,1,1,0,1,1,1,0,0,1,2019-12-11
7,7,1,1,0,1,0,0,1,1,1,...,0,0,1,0,1,1,0,0,1,2020-01-11
8,8,1,0,0,0,1,0,0,1,1,...,1,0,0,1,0,0,0,0,0,2020-02-11
9,9,1,0,0,0,1,0,1,0,1,...,1,1,0,1,1,0,1,1,0,2020-03-11

----

In [177]:
df.dtypes

ID                    object
hist202003            object
hist202002            object
hist202001            object
hist201912            object
hist201911            object
hist201910            object
hist201909            object
hist201908            object
hist201907            object
hist201906            object
hist201905            object
hist201904            object
hist201903            object
hist201902            object
hist201901            object
hist201812            object
hist201811            object
hist201810            object
hist201809            object
hist201808            object
hist201807            object
hist201806            object
hist201805            object
hist201804            object
APPDATE       datetime64[ns]
dtype: object

In [113]:
# まずひとり考えてみる、
# ID = 9 のひとについて

In [108]:
# 仮にターゲットが202003だったとして、202003を求めるためには？
tgt = "202003"
i = int(df[df["ID"] == 9]["hist"+tgt])
i

0

In [110]:
# 仮にターゲットが202003だったとして、
# 202001 ～ 202003を求めるためには？

tgt1 = "202001"
tgt2 = "202002"
tgt3 = "202003"

i=0
i= i + int(df[df["ID"] == 9]["hist"+tgt1])
i= i + int(df[df["ID"] == 9]["hist"+tgt2])
i= i + int(df[df["ID"] == 9]["hist"+tgt3])
i

1

In [112]:
# 仮にターゲットが202003だったとして、
# 201910 ～ 202003を求めるためには？

tgt1 = "201910"
tgt2 = "201911"
tgt3 = "201912"
tgt4 = "202001"
tgt5 = "202002"
tgt6 = "202003"

i=0
i= i + int(df[df["ID"] == 9]["hist"+tgt1])
i= i + int(df[df["ID"] == 9]["hist"+tgt2])
i= i + int(df[df["ID"] == 9]["hist"+tgt3])
i= i + int(df[df["ID"] == 9]["hist"+tgt4])
i= i + int(df[df["ID"] == 9]["hist"+tgt5])
i= i + int(df[df["ID"] == 9]["hist"+tgt6])
i

3

----------------------------------------
ターゲットの月をAPPDATEから求める  
ターゲットの月というかカラム名をAPPDATEから求めたい  
例えば↑のようにAPPDATE = 202003の場合、  
直近6か月ターゲット月は、201910 ～ 202003。  
直近6か月ターゲット月のカラム名は hist201910 ～ hist202003。  
これを求めて、カラムに入れておきたい

In [142]:
print( int(df[df["ID"] == 9]["APPDATE"].dt.year ))
print( int(df[df["ID"] == 9]["APPDATE"].dt.month))
print( int(df[df["ID"] == 9]["APPDATE"].dt.day ))

2020
3
11

In [157]:
df[df["ID"] == 9]["APPDATE"].dt

In [147]:
import datetime
from dateutil.relativedelta import relativedelta

In [160]:
datetime.datetime(2016, 12, 1) + relativedelta(months = -1)

datetime.datetime(2016, 11, 1, 0, 0)

In [159]:
print(  type(datetime.datetime(2016, 12, 1))  )
print(  df[df["ID"] == 9]["APPDATE"].dt  )
print(  df[df["ID"] == 9]["APPDATE"].dt.date  )

<class 'datetime.datetime'>
<pandas.core.indexes.accessors.DatetimeProperties object at 0x000001B08EC67DA0>
9    2020-03-11
Name: APPDATE, dtype: object

pandas.core.series.Series

In [165]:
#y ear  = df[df["ID"] == 9]["APPDATE"].dt.year
#" month = df[df["ID"] == 9]["APPDATE"].dt.month
# df["tmp"] = datetime.datetime(year, month, 1) + relativedelta(months = -0)

In [167]:
 df["APPDATE"].dt.month

0     6
1     7
2     8
3     9
4    10
5    11
6    12
7     1
8     2
9     3
Name: APPDATE, dtype: int64

In [178]:
#df["APP_year"] = df["APPDATE"].dt.year
#df["APP_month"] = df["APPDATE"].dt.month
#df

In [211]:
df["APP_bef0"] = np.nan
df["APP_bef1"] = np.nan
df["APP_bef2"] = np.nan
df["APP_bef3"] = np.nan
df["APP_bef4"] = np.nan
df["APP_bef5"] = np.nan
df["APP_bef6"] = np.nan

for i in df.index:
    year  = df[df["ID"] == i]["APPDATE"].dt.year
    month = df[df["ID"] == i]["APPDATE"].dt.month
    # df["tmp"] = datetime.datetime(year, month, 1) + relativedelta(months = -0)

    APP_bef0 = datetime.datetime(year, month, 1) + relativedelta(months = -0)
    APP_bef1 = datetime.datetime(year, month, 1) + relativedelta(months = -1)
    APP_bef2 = datetime.datetime(year, month, 1) + relativedelta(months = -2)
    APP_bef3 = datetime.datetime(year, month, 1) + relativedelta(months = -3)
    APP_bef4 = datetime.datetime(year, month, 1) + relativedelta(months = -4)
    APP_bef5 = datetime.datetime(year, month, 1) + relativedelta(months = -5)
    APP_bef6 = datetime.datetime(year, month, 1) + relativedelta(months = -6)
    
    #df.loc[i, "APP_bef0"] = datetime.datetime(year, month, 1) + relativedelta(months = -0)
    #df.loc[i, "APP_bef1"] = datetime.datetime(year, month, 1) + relativedelta(months = -1)
    #df.loc[i, "APP_bef2"] = datetime.datetime(year, month, 1) + relativedelta(months = -2)
    #df.loc[i, "APP_bef3"] = datetime.datetime(year, month, 1) + relativedelta(months = -3)
    #df.loc[i, "APP_bef4"] = datetime.datetime(year, month, 1) + relativedelta(months = -4)
    #df.loc[i, "APP_bef5"] = datetime.datetime(year, month, 1) + relativedelta(months = -5)
    #df.loc[i, "APP_bef6"] = datetime.datetime(year, month, 1) + relativedelta(months = -6)
    
    df.loc[i, "APP_bef0"] = APP_bef0.strftime("hist%Y%m")
    df.loc[i, "APP_bef1"] = APP_bef1.strftime("hist%Y%m")
    df.loc[i, "APP_bef2"] = APP_bef2.strftime("hist%Y%m")
    df.loc[i, "APP_bef3"] = APP_bef3.strftime("hist%Y%m")
    df.loc[i, "APP_bef4"] = APP_bef4.strftime("hist%Y%m")
    df.loc[i, "APP_bef5"] = APP_bef5.strftime("hist%Y%m")
    df.loc[i, "APP_bef6"] = APP_bef6.strftime("hist%Y%m")

In [212]:
df

,ID,hist202003,hist202002,hist202001,hist201912,hist201911,hist201910,hist201909,hist201908,hist201907,...,hist201805,hist201804,APPDATE,APP_bef0,APP_bef1,APP_bef2,APP_bef3,APP_bef4,APP_bef5,APP_bef6
0,0,0,0,1,0,1,0,0,0,0,...,0,1,2019-06-11,hist201906,hist201905,hist201904,hist201903,hist201902,hist201901,hist201812
1,1,0,1,1,0,0,0,1,1,1,...,0,0,2019-07-11,hist201907,hist201906,hist201905,hist201904,hist201903,hist201902,hist201901
2,2,0,1,1,1,1,0,0,0,1,...,0,1,2019-08-11,hist201908,hist201907,hist201906,hist201905,hist201904,hist201903,hist201902
3,3,1,1,0,1,1,0,1,0,0,...,0,0,2019-09-11,hist201909,hist201908,hist201907,hist201906,hist201905,hist201904,hist201903
4,4,0,1,1,0,0,1,1,1,0,...,0,1,2019-10-11,hist201910,hist201909,hist201908,hist201907,hist201906,hist201905,hist201904
5,5,0,1,1,1,0,0,1,0,0,...,0,1,2019-11-11,hist201911,hist201910,hist201909,hist201908,hist201907,hist201906,hist201905
6,6,0,0,0,0,0,0,1,1,1,...,0,1,2019-12-11,hist201912,hist201911,hist201910,hist201909,hist201908,hist201907,hist201906
7,7,1,1,0,1,0,0,1,1,1,...,0,1,2020-01-11,hist202001,hist201912,hist201911,hist201910,hist201909,hist201908,hist201907
8,8,1,0,0,0,1,0,0,1,1,...,0,0,2020-02-11,hist202002,hist202001,hist201912,hist201911,hist201910,hist201909,hist201908
9,9,1,0,0,0,1,0,1,0,1,...,1,0,2020-03-11,hist202003,hist202002,hist202001,hist201912,hist201911,hist201910,hist201909

In [213]:
#df["APP_bef0"] = pd.to_datetime(df["APP_bef0"], format="%y-%m-%d %H:%M:%S")
#df["APP_bef1"] = pd.to_datetime(df["APP_bef1"], format="%y-%m-%d %H:%M:%S")
#df["APP_bef2"] = pd.to_datetime(df["APP_bef2"], format="%y-%m-%d %H:%M:%S")
#df["APP_bef3"] = pd.to_datetime(df["APP_bef3"], format="%y-%m-%d %H:%M:%S")
#df["APP_bef4"] = pd.to_datetime(df["APP_bef4"], format="%y-%m-%d %H:%M:%S")
#df["APP_bef5"] = pd.to_datetime(df["APP_bef5"], format="%y-%m-%d %H:%M:%S")
#df["APP_bef6"] = pd.to_datetime(df["APP_bef6"], format="%y-%m-%d %H:%M:%S")

------------------

In [236]:
df2 = df[["ID",
"hist202003",
"hist202002",
"hist202001",
"hist201912",
"hist201911",
"hist201910",
"hist201909",
"hist201908",
"hist201907",
"hist201906",
"hist201905",
"hist201904",
"hist201903",
"hist201902",
"hist201901",
"hist201812",
"hist201811",
"hist201810",
"hist201809",
"hist201808",
"hist201807",
"hist201806",
"hist201805",
"hist201804",]]
df2.T

            0  1  2  3  4  5  6  7  8  9
ID          0  1  2  3  4  5  6  7  8  9
hist202003  0  0  0  1  0  0  0  1  1  1
hist202002  0  1  1  1  1  1  0  1  0  0
hist202001  1  1  1  0  1  1  0  0  0  0
hist201912  0  0  1  1  0  1  0  1  0  0
hist201911  1  0  1  1  0  0  0  0  1  1
hist201910  0  0  0  0  1  0  0  0  0  0
hist201909  0  1  0  1  1  1  1  1  0  1
hist201908  0  1  0  0  1  0  1  1  1  0
hist201907  0  1  1  0  0  0  1  1  1  1
hist201906  1  1  0  1  1  0  1  1  0  0
hist201905  0  1  0  0  0  0  0  1  0  1
hist201904  0  0  1  0  1  1  0  0  1  0
hist201903  0  0  0  1  0  0  0  1  1  1
hist201902  0  0  1  0  0  1  0  1  1  0
hist201901  0  1  1  1  1  1  0  1  0  1
hist201812  1  1  0  0  0  0  1  0  1  1
hist201811  1  0  1  1  0  1  1  0  0  1
hist201810  1  0  0  1  0  0  0  1  0  0
hist201809  1  1  0  1  0  0  1  0  1  1
hist201808  0  0  0  1  0  1  1  1  0  1
hist201807  0  1  1  1  0  0  1  1  0  0
hist201806  1  1  0  0  0  1  0  0  0  1
hist201805  0  0  0  0  0  0  0  0  0  1
hist201804  1  0  1  0  1  1  1  1  0  0

In [235]:

APP_bef1_ = df[df["ID"] == 9]["APP_bef1"].values[0]
APP_bef2_ = df[df["ID"] == 9]["APP_bef2"].values[0]
APP_bef3_ = df[df["ID"] == 9]["APP_bef3"].values[0]
APP_bef4_ = df[df["ID"] == 9]["APP_bef4"].values[0]
APP_bef5_ = df[df["ID"] == 9]["APP_bef5"].values[0]
APP_bef6_ = df[df["ID"] == 9]["APP_bef6"].values[0]


i=0
i= i + int( df[df["ID"] == 9][ APP_bef1_] )
i= i + int( df[df["ID"] == 9][ APP_bef2_] )
i= i + int( df[df["ID"] == 9][ APP_bef3_] )
i= i + int( df[df["ID"] == 9][ APP_bef4_] )
i= i + int( df[df["ID"] == 9][ APP_bef5_] )
i= i + int( df[df["ID"] == 9][ APP_bef6_] )

i

2

In [230]:
df[df["ID"] == 9]["APP_bef0"].values[0]

'hist202003'

In [247]:
for k in df.index:

    APP_bef1_ =df.loc[k]["APP_bef1"]
    APP_bef2_ =df.loc[k]["APP_bef2"]
    APP_bef3_ =df.loc[k]["APP_bef3"]
    APP_bef4_ =df.loc[k]["APP_bef4"]
    APP_bef5_ =df.loc[k]["APP_bef5"]
    APP_bef6_ =df.loc[k]["APP_bef6"]
    
    i=0
    i= i + int( df.loc[k, APP_bef1_] )
    i= i + int( df.loc[k, APP_bef2_] )
    i= i + int( df.loc[k, APP_bef3_] )
    i= i + int( df.loc[k, APP_bef4_] )
    i= i + int( df.loc[k, APP_bef5_] )
    i= i + int( df.loc[k, APP_bef6_] )
    print(k, i)

0 1
1 3
2 3
3 2
4 4
5 1
6 4
7 4
8 2
9 2

In [244]:
df.loc[0]["APP_bef1"]

'hist201905'