カウントエンコーディングは、各カテゴリの値をデータセットの中で出現した回数で置き換えます

In [3]:
# ・Count Encoding 登場回数のカウント
# ・Target Encoding SUM(y)/登場回数
# 　※Leakになるのでtestデータにはfit厳禁
# ・Leave-one-out Encoding その前の行までのSUM(y)/登場回数　
# 　※要シャッフル。Leakになるのでtestデータにはfit厳禁
# ・CatBoost Encoding　その前の行までのSUM(y)/登場回数＋補正
# 　※要シャッフル。Leakになるのでtestデータにはfit厳禁
# ・Feature embedding with SVD

In [1]:
import numpy as np
import pandas as pd              # version 0.23.4
import category_encoders as ce   # version 1.2.8

pd.options.display.float_format = '{:.2f}'.format # to make legible

# some new data frame for the contrast encoders
df3 = pd.DataFrame(
    {'color':[3,2,0,1,1,1,2,2,3,3,4,5,6,7,8,3], 
     'outcome':[1,0,0,1,2,1,1,0,0,1,0,2,2,1,1,1]})

# set up X and y
X3 = df3.drop('outcome', axis = 1)
y3 = df3.drop('color', axis = 1)

df3

    color  outcome
0       3        1
1       2        0
2       0        0
3       1        1
4       1        2
5       1        1
6       2        1
7       2        0
8       3        0
9       3        1
10      4        0
11      5        2
12      6        2
13      7        1
14      8        1
15      3        1

In [2]:
# Target with default parameters
ce_target = ce.CountEncoder(cols = ['color'])

ce_target.fit(X3, y3['outcome'])
# Must pass the series for y in v1.2.8

df3["ce"] = ce_target.transform(X3, y3['outcome'])
df3.sort_values("color")

    color  outcome  ce
2       0        0   1
3       1        1   3
4       1        2   3
5       1        1   3
1       2        0   3
6       2        1   3
7       2        0   3
0       3        1   4
8       3        0   4
9       3        1   4
15      3        1   4
10      4        0   1
11      5        2   1
12      6        2   1
13      7        1   1
14      8        1   1